# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
LmFrotas/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.AssemblyInfo.cs
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.AssemblyInfoInputs.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.assets.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.csproj.CoreCompileInputs.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.csproj.FileListAbsolute.txt
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.csprojAssemblyReference.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.genruntimeconfig.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.MvcApplicationPartsAssemblyInfo.cache
LmFrotas/obj/Debug/netcoreapp3.1/LmFrotas.RazorTargetAssemblyInfo.cache
LmFrotas/obj/Debug/netcoreapp3.1/project.razor.json
LmFrotas/obj/Debug/netcoreapp3.1/staticwebassets/LmFrotas.StaticWebAssets.Manifest.cache
LmFrotas/obj/Debug/netcoreapp3.1/staticwebassets/LmFrotas.StaticWebAssets.xml
LmFrotas/obj/LmFrotas.csproj.nuget.dgspec.json
LmFrotas/obj/LmFrotas.csproj.nuget.g.props
LmFrotas/obj/LmFrotas.csproj.nuget.g.targets
LmFrotas/obj/project.assets.json
LmFrotas/obj/project.nuget.cache
